/*=============================> 
common style for all 
=======================>*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 70px;
  font-weight: 700;
}
h3 {
  font-size: 18px;
  font-weight: 600;
}
/*=============================> 
common style for banner section 
=======================>*/
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #161616;
  width: 100vw;
  margin-bottom: 60px;
}

.banner-content {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 30px 70px;
  width: 40vw;
}
.banner .banner-content button {
  background: #dd0000;
  border-radius: 5px;
  padding: 16px 25px;
  height: 56px;
  width: 187px;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  border: none;
  margin-top: 50px;
}
.banner-img {
  width: 60vw;
  margin-left: 40px;
}

.banner-img img {
  width: 100%;
}

/*=============================> 
common style for banner section 
=======================>*/
.all-match {
  display: flex;
}
.match-details {
  margin-top: 60px;
}
.all-match-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.match-info {
  display: flex;
  flex-direction: column;
}
.match-info img {
  width: 312px;
  height: 362px;
}
.match-info button {
  width: 100px;
  height: 32px;
  color: #000;
  border: 1px solid #161616;
  border-radius: 5px;
  background-color: #fff;
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
}

.link-buttons {
  width: 312px;
  height: 312px;
  background: #161616;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 15px;
}
.link-buttons .btn {
  width: 252px;
  height: 64px;
  background: #ffffff;
  border-radius: 10px;
  margin: 5px 0;
}
.btn.activ {
  background: #dd0000;
}
span {
  margin: 0 10px;
}
span i {
  margin: 0 5px;
}
